* {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.chart-title {
  font-size: 1.5em;
  text-anchor: middle;
  fill: #635f5d;
}

.tick line {
  stroke: #c0c0bb;
}
  
.tick text {
  fill: #635f5d;
}

.mark {
  fill: #137b80;
}